/* dashboard */

#bread-crumb-dashboard {
  background-color: #292929;
  padding: 2% 0;
  padding-left: 3%;
}

.bread-crumb-dashboard-inner > h3{
  font-weight: bold;
  text-transform: uppercase;
  
}
.dashboard-stock-chart{
    height: 400px;
}

.dashboard-display{
  background-color: #292929;
  margin-bottom: 6%;
  padding: 8% 2%;
  border: 2px solid white;
}
.dashboard-icon-resize{
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.dashboard-display-header {
  font-size: 0.9rem;
  font-weight: bold;
}

/* change dashboard display icon colors  */
.fa-money-bill, .fa-lightbulb {
  color: #58CD72;
}

.fa-clock,.fa-university {
  color: #E74C3C;
}

.fa-caret-up, .fa-shield-alt {
  color: #3498DB;
}

.fa-caret-down, .fa-wifi {
  color: #F1C539;
}