


/* desktop */
@media only screen and (min-width:800px){
/* dashboard */
  /* dashboard bread crumb */
  #bread-crumb-dashboard {
    background-color: #292929;
    padding: 2% 0;
    padding-left: 3%;
  }
  
  .bread-crumb-dashboard-inner > h3{
    font-weight: bold;
    text-transform: uppercase;
  
  }
  
    /* welcome user */
  .welcome-user {
    font-weight: 200;
    background-color: wheat;
    color: black;
    padding: 1% 3% ;
  }
  
    /* main dashboard body */
  .dashboard-stock-chart{
      height: 400px;
  }
  
  .dashboard-display{
    background-color: #292929;
    margin-bottom: 6%;
    padding: 8% 2%;
    border: 2px solid white;
  }
  .dashboard-icon-resize{
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  
  .dashboard-display-header {
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  /* change dashboard display icon colors  */
  .fa-money-bill, .fa-lightbulb {
    color: #58CD72;
  }
  
  .fa-clock,.fa-university {
    color: #E74C3C;
  }
  
  .fa-caret-up, .fa-shield-alt {
    color: #3498DB;
  }
  
  .fa-caret-down, .fa-wifi {
    color: #F1C539;
  }
  
  
    /* ratings & achievements */
  
  .rating-received-box-outer {
    background-color: #292929;
  }
  .rating-achievement-position > span {
    padding: 43%;
  }
  
  #ratings-received-box, #achievement-points-box {
    padding-top: 7%;
  
  }
  
  .star-color-box{
    background-color: #318F77;
    width: 40%;
  }
  
  .trophy-color-box {
    background-color:#44A35A;
  }
  
  
  /* profile */
  .profile-text-color{
    color: black;
  }
  
  .profile-body > span{
    display: block;
    margin-bottom: 2.3rem;
    font-weight: bold;
  }
  /* verification form  */
  .verification-form-bg{
    background-color: #292929;
    padding: 6% 3%
  }

  #verify-form-header > h3 {
    font-size: 2.5rem;
  }

  .verification-form-main {
    border-radius: 0;
    border: none;
    background: dimgrey;
    color: white;
  }

  .verify-account-button{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  /* fund account */
  .dashboard-payment-image {
    width: 100%;
    height: 60%;
    border: 3px solid white;
    border-radius: 3%;
    box-shadow: 0 0 60px white;

  }

  #western-union-border {
    border: 3px solid #FDD23D;
    box-shadow: 0 0 60px #FDD23D;
  }

  #verification-image-check {
    margin: 0 34%;
  }
}

/* mobile */

@media only screen and (max-width:800px){
  /* dashboard */
    /* temporarily hide sidebar nav */
    /* nav#sidebar {
      display: none;
    } */
    /* sidebar bug fix  */
    /* .sidebar-content {
      display: block;
    } */
    /* dashboard bread crumb */
    #bread-crumb-dashboard {
      background-color: #292929;
      padding: 2% 0;
      padding-left: 3%;
    }
    
    .bread-crumb-dashboard-inner > h3{
      font-weight: bold;
      text-transform: uppercase;
    
    }
    
      /* welcome user */
    .welcome-user {
      font-weight: 200;
      background-color: wheat;
      color: black;
      padding: 1% 3% ;
    }
    
      /* main dashboard body */
    .dashboard-stock-chart{
        height: 400px;
    }
    
    .dashboard-display{
      background-color: #292929;
      margin-bottom: 6%;
      padding: 8% 2%;
      border: 2px solid white;
    }
    .dashboard-icon-resize{
      font-size: 2.5rem;
      padding-bottom: 1.5rem;
    }
    
    .dashboard-display-header {
      font-size: 1.4rem;
      font-weight: bold;
    }
    
    /* change dashboard display icon colors  */
    .fa-money-bill, .fa-lightbulb {
      color: #58CD72;
    }
    
    .fa-clock,.fa-university {
      color: #E74C3C;
    }
    
    .fa-caret-up, .fa-shield-alt {
      color: #3498DB;
    }
    
    .fa-caret-down, .fa-wifi {
      color: #F1C539;
    }
    

    .star-color-box, .trophy-color-box{
      margin: 5% 0;
    }
    
      /* ratings & achievements */
    
    .rating-received-box-outer {
      background-color: #292929;
      margin: 5% 0;
    }
    .rating-achievement-position > span {
      padding-top: 2.6rem;
      padding-left: 1.4rem;
    }
    
    #ratings-received-box, #achievement-points-box {
      padding: 7% 2%;
    
    }
    
    .star-color-box{
      background-color: #318F77;
      width: 40%;
    }
    
    .trophy-color-box {
      background-color:#44A35A;
    }
    
    
    /* profile */
    .profile-text-color{
      color: black;
    }
    
    .profile-body > span{
      display: block;
      margin-bottom: 2.3rem;
      font-weight: bold;
    }

      /* verification form  */
  .verification-form-bg{
    background-color: #292929;
    padding: 6% 3%
  }

  #verify-form-header > h3 {
    font-size: 2.5rem;
  }

  .verification-form-main {
    border-radius: 0;
    border: none;
    background: dimgrey;
    color: white;
  }

  .verify-account-button{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  /* fund account */
  .dashboard-payment-image {
    width: 100%;
    height: 60%;
    border: 3px solid white;
    border-radius: 3%;
    box-shadow: 0 0 60px white;

  }

  #western-union-border {
    border: 3px solid #FDD23D;
    box-shadow: 0 0 60px #FDD23D;
  }
  }