
/* body */
body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: rgb(245, 245, 245);
    line-height: 1.6;
    height: 100%;
}

/* banner */
#banner {
    background: url('../images/pexels-rebrand-cities-1367272.jpg') no-repeat;
    height: 100vh;
    box-shadow: 0 3000px rgba(27, 35, 55, .7) inset;
    color: white;
  }
  
.trading-available {
    display: block;
    font-size: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 60%;
    position: relative;
    font-style: italic;

}

.trading-available:before {
    content: '';
    background-image: url(../images/logos/quote.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    position: absolute;
    left: -28px;
    bottom: -35px;
}

.trading-available:after {
    content: '';
    background-image: url(../images/logos/quote-close.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    position: absolute;
    top: -28px;
    right: -40px;
}

.span-for-trading {
    position: relative;
    display: inline;
}

.span-for-trading:after {
    content: '';
    background-image: url(../images/logos/heading-line.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 120px;
    height: 5px;
    right: 0;
    bottom: -10px;
} 

h1 {
    font-weight: 200;
    line-height: 1.2;
}

.span-for-trading {
    position: relative;
    display: inline;
}

.container {
    background-color: #1e2539;
    padding-bottom: 40px;
}

@media only screen and (min-width:800px){
/* login */
.form-bg {
    background-color: rgb(21,27,39,0.175);
    padding-top: 2.5rem;
    border-radius: 12px;
    box-sizing: border-box;
    width: 400px;
    margin: 0 auto;
    height: 360px;
}

form {
    display: block;
    margin-top: 0em;
}

.reg-login-bg {
    background: radial-gradient(circle,rgba(46,60,111,1) 0%,rgba(37,44,71,1) 100%);
}

#register-header{
    font-size: 2.5rem;
    padding: 0 0 10px;
    font-family: "Arial";
    
}

#reg-email-input , #reg-password-input{
    width: 300px;
    margin-bottom: 1.35rem;
    float: right;
    border-radius: 4px;
    background-color: #20293e;
    color: #fff;
    width: none;
}

/* forgot password */

#forgot-password {
    margin-top: 1.5%;
    margin-left: 1.8%;
}

div {
    display: block;
}

.bttn {
    padding: 0 15px;
    display: flex;
    align-self: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    white-space: nowrap;
    max-width: 100%;
    outline: none;
    transition: opacity 0.2s,transform 0.15s,background-image 0.15s,background-color 0.15s,color 0.15s,border-color 0.15s,box-shadow 0.15s !important;
    height: 36px;
    line-height: 34px;
    border-color: #3facff;
    background-color: #3facff;
    background-image: linear-gradient(to top,#3facff,#259efa);
    box-shadow: 0 3px 10px #0048b5;
    color: #fff;
    width: 40%;
    float: right;
    top: -30px;
}


button { 
    padding: 10px;
    border: 1px; 
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    margin: 0em;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-family: "Arial";
}
.btn-primary {
    color: #fff;
    border-color: #3b5998;
    background-color: #3b5998;
    box-shadow: 1px 1px 10px rgba(64,94,157,0);
    border-radius: 5px;
    border: 1px solid #007bff;
}

button span {
    margin-right: 10px;
    margin: 8px;
    padding: 8px;
    position: relative;
    
    
}


section {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}

/* social media login buttons */

.open-account-button {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    touch-action: manipulation;
    white-space: nowrap;
    max-width: 100%;
    outline: none;
    transition: opacity 0.2s,transform 0.15s,background-image 0.15s,background-color 0.15s,color 0.15s,border-color 0.15s,box-shadow 0.15s !important;
    height: 36px;
    line-height: 34px;
    border-color: #3facff;
    background-color: #3facff;
    background-image: linear-gradient(to top,#3facff,#259efa);
    box-shadow: 0 3px 10px #0048b5;
    color: #fff;
    margin-top: 1.2rem;
}

.mx-auto {
    display: block;
    padding: 25px;
    text-align: center;
}

/* Registration  */

.css-1w2d6bn {
    background-color: rgb(21,27,39,0.175);
    padding: 40px;
    border-radius: 12px;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}
 .fm {
    background-color: rgb(21,27,39,0.175);
 }

 /* link */
 a {
    color: rgb(212, 212, 212);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
#term {
    position: relative;
}

#button {
    display: block;
    position: relative;
    top: 40px;
}

/* terms and conditions  */
#reg-terms-and-conditions{
    margin: 0.9rem 0;
}

/* Navigation Section  */
#nav {
    position: fixed;
}

/* navigation banner */
.banner-navigation {
    width: 85%;
    background-color: transparent;
    margin: 0 auto;
    padding-top: 2rem;
    align-content: center;
    left: 146px;
    top: -10px;
}

/* navigation buttons */
btn-primary {
    color: #fff;
    border-color: #3b5998;
    background-color: rgb(33, 40, 63);
    border-radius: 5px;
  }
  
   .create-account-button:active {
    box-shadow: rgb(20, 92, 201) 0px 1px 11px;
}
    .create-account-button:hover {
    background-color: rgb(57, 178, 255);
    background-image: linear-gradient(to top, rgb(83, 188, 255), rgb(70, 183, 255));
    color: rgb(255, 255, 255);
    box-shadow: rgb(20, 92, 201) 0px 3px 15px;
    border-color: rgb(57, 178, 255);
    }   
  

}



/* mobile view  */
@media only screen and (min-width: 320px) and (max-width: 800px) {

.form-bg {
    background-color: rgb(21,27,39,0.175);
    padding: 40px 0;
    border-radius: 12px;
    box-sizing: border-box;
    height: 300px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}

form {
    display: block;
    margin-top: 0em;
}

.reg-login-bg {
    background: radial-gradient(circle,rgba(46,60,111,1) 0%,rgba(37,44,71,1) 100%);
}

#register-header{
    font-size: 2.5rem;
    padding: 0 0 10px;
    font-family: "Arial";
    
}

#reg-email-input , #reg-password-input{
    width: 300px;
    margin-bottom: 1rem;
    float: right;
    border-radius: 4px;
    background-color: #20293e;
    color: #fff;
    width: none;
  }

div {
    display: block;
}

button { 
    padding: 10px;
    border: 1px; 
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    margin: 0em;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-family: "Arial";
}
.btn-primary {
    color: #fff;
    border-color: #3b5998;
    background-color: #3b5998;
    box-shadow: 1px 1px 10px rgba(64,94,157,0);

}

button span {
    margin-right: 10px;
    margin: 8px;
    padding: 8px;
    position: relative;
    
    
}


section {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}

.css-1ry0z48 {
    min-width: 130px;
}

.bttn {
    padding: 0 15px;
    display: flex;
    align-self: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    white-space: nowrap;
    max-width: 100%;
    outline: none;
    transition: opacity 0.2s,transform 0.15s,background-image 0.15s,background-color 0.15s,color 0.15s,border-color 0.15s,box-shadow 0.15s !important;
    height: 36px;
    line-height: 34px;
    border-color: #3facff;
    background-color: #3facff;
    background-image: linear-gradient(to top,#3facff,#259efa);
    box-shadow: 0 3px 10px #0048b5;
    color: #fff;
    width: 40%;
    float: right;
    top: -30px;
}

.mx-auto {
    display: block;
    padding: 25px;
    text-align: center;
}

/* Registration  */

.css-1w2d6bn {
    background-color: rgb(21,27,39,0.175);
    padding: 40px;
    border-radius: 12px;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}
 .fm {
    background-color: rgb(21,27,39,0.175);
 }

 /* link */
 a {
    color: rgb(212, 212, 212);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
#term {
    position: relative;
}

#button {
    display: block;
    position: relative;
    top: 40px;
}
.butt2 {
    position: relative;
    top: 10px;
    display: flex;
    width: 100%;
    margin-top: 16px;
}

/* Navigation Section  */
#nav {
    position: fixed;
}


}

/* media query for screen size 1300 * 520 */
