.form-bg {
    background-color: rgb(21,27,39,0.175);
    padding: 40px;
    border-radius: 12px;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}