{% block footer %}
<!-- footer section  -->
<footer class="container">
    <div class="col-lg" id="footer">
      <div class="row" id="footer-row">
        <div class="col-lg-4" id="company-footer-text">
            <img src="/static/images/logos/full-exp-opt-logo.png" alt="expert option investment logo" id="footer-logo" class="desktop">
            <img src="/static/images/logos/full-exp-opt-logo.png" alt="expert option investment logo" id="footer-logo" class="mobile">
               <h3>Expert Option Investments</h3>
          <p class=" my-3">
            Company provides servies to everyone across the globe.
            <br>
            Making trading available and accessible to everyone is and continues to be our # 1 goal and priority.
          </p>
        </div>
        <div class="col-lg-2 footer-links" id="home-footer">
          <h4>Home</h4>
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'main:register' %}">Create Account</a>
        </div>
        <div class="col-lg-2 footer-links" id="trading-footer">
          <h4>Trading</h4>
          <a href="{% url 'main:account-type' %}">Account Types</a>
        </div>
        <div class="col-lg-2 footer-links" id="company-footer">
          <h4>Company</h4>
          <a href="{% url 'main:about' %}">About Company</a>
          <a href="{% url 'main:terms-and-conditions' %}">Terms</a>
          <a href="{% url 'main:payment-policy' %}">Payment Policy</a>
          <a href="{% url 'main:privacy-policy' %}">Privacy Policy</a>
        </div>
        <div class="col-lg-2" id="payment-methods-footer">
          <h4>Payment Methods</h4>
          <img src="/static/images/logos/payments.svg" alt="Payment and Withdrawal methods" class="">
        </div>
      </div>
    </div>
  </footer>
  <!-- disclaimer part -->
  <div id="disclaimer-portion">
    <div class=" container disclaimer">
      <div class="row disclaimer-row">
        <div class="col-lg-9 my-3" id="trading-involves">
          <p>Trading and investing involves significant level of risk and is not suitable and/or appropriate for all clients. Please make sure you carefully consider your investment objectives, level of experience and risk appetite before buying or selling. Buying or selling entails financial risks and could result in a partial or complete loss of your funds, therefore, you should not invest funds you cannot afford to lose. You should be aware of and fully understand all the risks associated with trading and investing, and seek advice from an independent financial advisor if you have any doubts. You are granted limited non-exclusive rights to use the IP contained in this site for personal, non-commercial, non-transferable use only in relation to the services offered on the site.</p>
        </div>
        <div class="col-lg-3 my-3" id="expert-invest">
          <p>&copy; 2014 - 2020 Expert Option Investments</p>
          <span>Expert Option Investments. All rights reserved.</span>
          <p>
          <span>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-youtube"></i>
          </p>
          </span>
        </div>
      </div>
    </div>
  </div>  
{% endblock  %}