{% extends "dashboard/dashboard-base.html" %}
{% block dashboard %}
{% load static %}
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled">
        {% include "dashboard/sidebar.html" %}
      
        <!-- dashboard-content  -->
        <main class="page-content">
            <div id="overlay" class="overlay"></div>
            <div id="bread-crumb-dashboard">
                 <!-- welcome, progress & verifications -->
               <div class="container">
                 <!-- user welcome message header -->
                    <div class="welcome-header-container">
                        <div class="row verified-header">
                            <div class="col-sm-6 bg-light clearfix">
                                 <div class="verify-account-header py-3 mx-3 d-flex align-items-center">
                                     <h3 class="text-dark mx-3 verify-account-text">Verify Account</h3>
                                     <a href="" class="text-dark">Home</a> / <span class="text-secondary">Verify Account</span>
                                 </div>
                            </div>
                            <div class="col-sm-6 bg-light d-flex align-items-center">
                                <div class="col-sm clearfix">
                                    <div class="col-sm-3 user-profile float-right bg-primary">
                                        <div class="row verification-profile-area d-flex align-items-center">
                                            <div class="col-sm-6">
                                                <img src="https://img.icons8.com/officel/40/000000/circled-user-male-skin-type-6.png"/>
                                            </div>
                                            <div class="Col-sm-6">
                                                <h3 class="user-profile-text text-white">
                                                    <span>{{ request.user.profile.first_name }}</span>
                                                </h3>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            <!-- stock prices slider -->
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container my-4">
                <div class="tradingview-widget-container__widget"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                {
                "symbols": [
                {
                    "proName": "FOREXCOM:SPXUSD",
                    "title": "S&P 500"
                },
                {
                    "proName": "FOREXCOM:NSXUSD",
                    "title": "Nasdaq 100"
                },
                {
                    "proName": "FX_IDC:EURUSD",
                    "title": "EUR/USD"
                },
                {
                    "proName": "BITSTAMP:BTCUSD",
                    "title": "BTC/USD"
                },
                {
                    "proName": "BITSTAMP:ETHUSD",
                    "title": "ETH/USD"
                }
                ],
                "colorTheme": "light",
                "isTransparent": false,
                "displayMode": "adaptive",
                "locale": "en"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->

            
            <!-- verification form  -->
            <div class="container my-4">
                <div class="verification-form-bg">
                    <div id="verify-form-header">
                        <h3 class="text-center">
                            Fund and Verify Your Account.
                        </h3>
                    </div>
                    <div id="verification-form-message">
                        <p>
                            Verify Your account by providing us with a vaild document (ID card). Drivers Licence, Valid Work ID Card, Passport, etc are accepted. Please do not try to upload a fake document as our support teams reviews every document uploaded. Detected fake documents will lead to immediate suspension of account! Once Uploaded, Our support team reviews your document and gets back to you within 3 working days. The uploaded documents are for verification purposes only and are deleted once confirmed. You will be notified via email once your document has been verified. Choose your document and click on the verify button.
                        </p>
                    </div>
                    <div id="verification-form">
                        <form action="" class="form-group" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <!-- document type -->
                                <div class="col-lg-3">
                                    <label for="">
                                        Document Type: <span class="display-5">e.g Driver's License, Passport, e.t.c</span>
                                    </label>
                                </div>
                                <div class="col-lg-9">
                                   <input type="text" class="form-control verification-form-main" placeholder="Enter Type (e.g Drivers License)"> 
                                </div>

                                <!-- Document front page -->
                                <div class="col-lg-3 mt-2">
                                    <label for="">
                                        Front Document</span>
                                    </label>
                                </div>
                                <div class="col-lg-9">
                                   <input type="file" class="form-control verification-form-main mt-2"> 
                                </div>

                                <!-- document back page -->
                                <div class="col-lg-3 mt-2">
                                    <label for="">
                                        Back Document</span>
                                    </label>
                                </div>
                                <div class="col-lg-9">
                                   <input type="file" class="form-control verification-form-main mt-3"> 
                                   <button class="btn btn-success btn-block mt-4 flat-button verify-account-button">Verify My Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- verification container content -->
            <div class="container" style="min-height: 245px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card mt-5">
                            <div class="card-body">
                                 <h3 class="text-dark text-center py-4">
                                    <span>Identification Status</span>
                                </h3>
                                <div class="col-sm verification-image py-4">
                                    <img src="{% static 'images/logos/verified.png' %}" style="height: 200px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end of dashboard content -->
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    {% endblock  %}
