{% extends "dashboard/dashboard-base.html" %}
{% block dashboard %}
{% load widget_tweaks %}
  
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled">

      <!-- dashboard sidebar -->
        {% include "dashboard/sidebar.html" %}
        <!-- dashboard-content  -->
        <main class="page-content">
            <div id="overlay" class="overlay"></div>
            <div id="bread-crumb-dashboard">
                <div class="container">
             <!-- logo on dashboard -->
             <div id="dashboard-logo-top-heading">
            </div>
          <!-- bread crumb -->
          <div class="bread-crumb-dashboard-inner">
            <h3>Dashboard</h3> <a href="">Home</a> / <span>Dashboard</span>
          </div>   
            </div>
        </div>
            
            
            <!-- stock prices slider -->
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                {
                "symbols": [
                {
                    "proName": "FOREXCOM:SPXUSD",
                    "title": "S&P 500"
                },
                {
                    "proName": "FOREXCOM:NSXUSD",
                    "title": "Nasdaq 100"
                },
                {
                    "proName": "FX_IDC:EURUSD",
                    "title": "EUR/USD"
                },
                {
                    "proName": "BITSTAMP:BTCUSD",
                    "title": "BTC/USD"
                },
                {
                    "proName": "BITSTAMP:ETHUSD",
                    "title": "ETH/USD"
                }
                ],
                "colorTheme": "light",
                "isTransparent": false,
                "displayMode": "adaptive",
                "locale": "en"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
            <!-- welcome, progress & verifications -->
            <div class="container">
                <!-- user welcome message header -->
                <div class="welcome-header-container">
                    <h3>Hi, {{ request.user.email }} </h3>
                </div>                
            </div>
            
            <!-- profile form beginning -->
            <div id="profile-create-form" class="container">
                <h3 class="text-center">Enter your Details to Create a Profile</h3>
                <!-- profile  form -->
                <form action="" class="form-group" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <label for=""> First Name</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-user"></span>
                                </div>
                                {{ profile_form.first_name|add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Last Name</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-user"></span>
                                </div>
                                {{ profile_form.last_name|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Phone Number</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-phone"></span>
                                </div>
                                {{ profile_form.phone_number|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Postal or Zip Code</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-map-pin"></span>
                                </div>                                
                                {{ profile_form.postal_or_zip_code|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Street Address</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-road"></span>
                                </div>
                                {{ profile_form.street_address|add_class:"form-control" }}
                                
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> City</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-search-location"></span>
                                </div>
                                {{ profile_form.city|add_class:"form-control" }}

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> State</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-"></span>
                                </div>
                                {{ profile_form.state|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Country</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-flag"></span>
                                </div>
                                {{ profile_form.country|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> profile Picture</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-users"></span>
                                </div>
                                {{ profile_form.profile_picture|add_class:"form-control" }}

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for=""> Select Plan</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-bars"></span>
                                </div>
                                {{ profile_form.select_plan|add_class:"form-control" }}
                            </div>
                        </div>

                        <div class="col-lg-12 my-4">
                            <button class="btn btn-success btn-block flat-button">Create Profile</button>
                        </div>
                    </div>
                    
                </form>
            </div>           
            <!-- end of profile form -->
        
            <!-- end of dashboard content -->
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->

    <!-- using online scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- using local scripts -->
    <!-- <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script> -->

    <script>
      jQuery(function ($) {

      // Dropdown menu
      $(".sidebar-dropdown > a").click(function () {
          $(".sidebar-submenu").slideUp(200);
          if ($(this).parent().hasClass("active")) {
              $(".sidebar-dropdown").removeClass("active");
              $(this).parent().removeClass("active");
          } else {
              $(".sidebar-dropdown").removeClass("active");
              $(this).next(".sidebar-submenu").slideDown(200);
              $(this).parent().addClass("active");
          }

      });

      //toggle sidebar
      $("#toggle-sidebar").click(function () {
          $(".page-wrapper").toggleClass("toggled");
      });
      //Pin sidebar
      $("#pin-sidebar").click(function () {
          if ($(".page-wrapper").hasClass("pinned")) {
              // unpin sidebar when hovered
              $(".page-wrapper").removeClass("pinned");
              $("#sidebar").unbind( "hover");
          } else {
              $(".page-wrapper").addClass("pinned");
              $("#sidebar").hover(
                  function () {
                      console.log("mouseenter");
                      $(".page-wrapper").addClass("sidebar-hovered");
                  },
                  function () {
                      console.log("mouseout");
                      $(".page-wrapper").removeClass("sidebar-hovered");
                  }
              )

          }
      });


      //toggle sidebar overlay
      $("#overlay").click(function () {
          $(".page-wrapper").toggleClass("toggled");
      });

      //switch between themes 
      var themes = "default-theme legacy-theme chiller-theme ice-theme cool-theme light-theme";
      $('[data-theme]').click(function () {
          $('[data-theme]').removeClass("selected");
          $(this).addClass("selected");
          $('.page-wrapper').removeClass(themes);
          $('.page-wrapper').addClass($(this).attr('data-theme'));
      });

      // switch between background images
      var bgs = "bg1 bg2 bg3 bg4";
      $('[data-bg]').click(function () {
          $('[data-bg]').removeClass("selected");
          $(this).addClass("selected");
          $('.page-wrapper').removeClass(bgs);
          $('.page-wrapper').addClass($(this).attr('data-bg'));
      });

      // toggle background image
      $("#toggle-bg").change(function (e) {
          e.preventDefault();
          $('.page-wrapper').toggleClass("sidebar-bg");
      });

      // toggle border radius
      $("#toggle-border-radius").change(function (e) {
          e.preventDefault();
          $('.page-wrapper').toggleClass("boder-radius-on");
      });

      //custom scroll bar is only used on desktop
      if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
          $(".sidebar-content").mCustomScrollbar({
              axis: "y",
              autoHideScrollbar: true,
              scrollInertia: 300
          });
          $(".sidebar-content").addClass("desktop");

      }
      });
    </script>
    <!-- <script src="./static/js/main.js"></script> -->
{% endblock %}
